{% extends "index.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h1>User {{user['contact-name']}}
            ({{user['contact-phone']}}) - {{user.user}}</h1></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Alamat IP</dt>
            <dd>{{user.address}}</dt>
            <dt>Alamat MAC</dt>
            <dd>{{user['mac-address']}}</dd>
            <dt>Lama online</dt>
            <dd>{{user.uptime}}</dd>
            <dt>Hotspot</dt>
            <dd>{{user.server}}</dd>
        </dl>
    </div>
    <div class="panel-footer">
        <a id="disconnect" class="btn btn-danger" href="{{url_for('.disconnect_by_id',
            id=user.id)}}">Disconnect</a>
        <a id="cancel" class="btn btn-default" href="{{url_for('.index')}}">Cancel</a>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
<script type="text/javascript">
    $('#disconnect').click(function(event) {
            var sure = confirm({% if confirm_void
                %}'{{confirm_void}}'{%else%}'Are you sure?'{%endif%});
            if (! sure)
                event.preventDefault();
            });
</script>
{% endblock %}
