{% extends "base.html" %}

{% block style %}
    {{super()}}
{% endblock %}

{% block body %}
<div id="wrap">
    {% if g.user is defined and g.user.is_authenticated() -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Wifi HotSpot Management System</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted credit"><a href="http://www.mit-tal.org">MIT</a>
        &copy; 2013</p>
    </div>
</div>
{% endblock %}
