{% extends "base.html" %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', 
    filename='css/wifi.css')}}">
{% endblock %}

{% block body %}
<div id="wrap">
    {% if g.user is defined and g.user.is_authenticated() -%}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('index')}}">Wifi HotSpot Management System</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a
                        href="{{url_for('users.account')}}">{{g.user.name}}</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
    <div class="container">
        {% if g.user is defined and g.user.is_authenticated() -%}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissable">
                    <button type="button" class="close"
                        data-dismiss="{{category}}"
                        aria-hidden="true">&times;</button>
                    <strong>{{category|title}}!</strong> {{message}}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {%-  endif %}
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    {% for menu in g.menus %}
                    <div class="col-md-3">
                        <a href="{{menu.url}}">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{menu.title}}</h3>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% if g.user is defined and g.user.is_authenticated() %}
<div id="footer">
</div>
{% endif %}
{% endblock %}
