{% extends "list.html" %}

{% macro formgroup(name, label) %}
<div class="form-group col-md-2">
    {% set control = form|attr(name) %}
    {{ control.label(class="sr-only") }}
    {{ control(class="form-control input-sm", 
       placeholder=control.label.text) }}
</div>
{% endmacro %}

{% block panelbody %}
<form class="form-inline" role="form" action="" method="get">
    {{ formgroup("username", "User Name") }}
    {{ formgroup("phone", "Phone Number") }}
    {{ formgroup("user", "Voucher") }}
    {{ formgroup("address", "IP Address") }}
    {{ formgroup("server", "Hotspot") }}
    <button type="submit" class="btn btn-default btn-sm">Refresh</button>
</form>
{{super()}}
{% endblock %}
