{% extends "list.html" %}

{% macro formgroup(name, label) %}
<div class="form-group col-md-2">
    {% set control = form|attr(name) %}
    {{ control.label(class="sr-only") }}
    {{ control(class="form-control input-sm", 
       placeholder=control.label.text) }}
</div>
{% endmacro %}

{% block panelheading %}
{{super()}} <span class="label label-primary pull-right">{{items|count}} user(s) online</span>
{% endblock %}

{% block panelbody %}
<form class="form-inline" role="form" action="" method="get">
    <div class="row">
        {{ formgroup("username", "User Name") }}
        {{ formgroup("phone", "Phone Number") }}
        {{ formgroup("user", "Voucher") }}
        {{ formgroup("address", "IP Address") }}
        {{ formgroup("server", "Hotspot") }}
        <div class="col-md-2">
            <button type="submit" class="btn btn-default btn-sm">Refresh</button>
        </div>
    </div>
</form>
{{super()}}
{% endblock %}
