{% extends "list.html" %}

{% macro formgroup(name, label) %}
<div class="form-group col-md-2">
    <label class="sr-only" for="{{name}}">{{label}}</label>
    <input type="text" class="form-control input-sm" id="{{name}}"
     name="{{name}}" placeholder="{{label}}">
</div>
{% endmacro %}

{% block panelbody %}
<form class="form-inline" role="form" action="" method="get">
    {{ formgroup("username", "User Name") }}
    {{ formgroup("phone", "Phone Number") }}
    {{ formgroup("user", "Voucher") }}
    {{ formgroup("address", "IP Address") }}
    {{ formgroup("server", "Hotspot") }}
    <button type="submit" class="btn btn-default btn-sm">Refresh</button>
</form>
{{super()}}
{% endblock %}
